mixin header(page='Home')
    header.header
        if block 
            block 
        else 
            .header
                .container.container__fluid
                    .header__wrap
                        .header__logo
                            a.header__logo-link(href="/")
                                img(src="./assets/images/logo.png", alt="logo")
                        button.header__menu-button
                            span
                            span
                            span
                    