.card {
  padding: 48px 47px 48px 48px;
  max-width: 380px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  @include mobile {
    padding: 48px 24px 24px 24px;
  }
  &__img {
    position: relative;
    width: 132px;
    height: 132px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 54px;
    @include mobile {
      margin-bottom: 25px;
    }
    img {
      position: absolute;
      right: 0;
      max-width: fit-content;
    }
    &--center img {
      bottom: -6px;
      left: 54%;
      transform: translateX(-50%);
    }
  }
  &__title {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: var(--color-primary);
  }
  &__descr {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.05em;
    color: var(--color-text-primary);
  }
  &__btn {
    display: flex;
    align-items: center;
    column-gap: 27px;
    font-weight: 600;
    font-size: 14px;
    line-height: 214%;
    letter-spacing: 0.05em;
    color: var(--btn);
    text-decoration: none;
    transition: column-gap ease-in-out 0.2s;
    @include hover {
      column-gap: 30px;
    }
  }
}
