.form {
  display: flex;
  flex-direction: column;
  &__title {
    margin-bottom: 49px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: var(--color-primary);
    @include tablet {
      margin-bottom: 20px;
    }
  }
  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 29px;
    @include tablet {
      margin-bottom: 15px;
    }
    &:last-of-type {
      margin-bottom: 72px;
      @include tablet {
        margin-bottom: 30px;
      }
    }
  }
  &__label {
    margin-bottom: 9px;
  }
  &__btn {
    --spinner-visible: none;
    &.loading {
      --spinner-visible: inline-block;
    }
  }
}
@keyframes spinner-border {
  100% {
    transform: rotate(360deg);
  }
}
.submit-spinner {
  display: var(--spinner-visible);
  width: 1rem;
  height: 1rem;
  margin-right: 15px;
  vertical-align: middle;
  border: 0.2em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: 0.75s linear infinite spinner-border;
  animation: 0.75s linear infinite spinner-border;
}
