.logo {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14.5rem, 1fr));
    gap: 1px;
    background-color: var(--color-tertiary);
    @media (max-width: 970px) {
      grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    }
    @include mobile {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
  }
  &__item {
    min-height: 128px;
    background-color: var(--bg-color);
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-weight: 600;
      font-size: 20px;
      line-height: 230%;
      letter-spacing: 0.02em;
      color: var(--color-tertiary);
      text-decoration: none;
      transition: background-color ease-in-out 0.2s;
      @include hover {
        background-color: var(--color-primary-2);
      }
    }
  }
}
