mixin client()
    section.client 
        .container.container__content
            header.client__header.container__block
                h2.client__title.title Our Beloved Client
                .client__description 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            ul.logo__list 
                li.logo__item
                    a(href="#")  LOGO CLIENT 1
                li.logo__item
                    a(href="#")  LOGO CLIENT 2
                li.logo__item
                    a(href="#")  LOGO CLIENT 3
                li.logo__item
                    a(href="#")  LOGO CLIENT 4
                li.logo__item
                    a(href="#")  LOGO CLIENT 5
                li.logo__item
                    a(href="#")  LOGO CLIENT 6
                li.logo__item
                    a(href="#")  LOGO CLIENT 7
                li.logo__item
                    a(href="#") More Client