mixin success()
    .success
        .success__content
            p Your message successfully sent

mixin form(cls='', title='')
    .form__wrap(class=cls)
        form.form
            if title !== ''
                h2.form__title=title
            +field('name', 'Full Name', 'text', false, 'Your Name')
            +field('email', 'Email', 'email', false, 'Your Email')
            +field('message', 'Message', '', true, 'Your Message')
            button.form__btn.btn(type='submit')
                span.submit-spinner
                | Отправить
        +success()
