:root {
  /* Цветовая палитра */
  --color-primary: #1f3f68;
  --color-primary-2: rgba(31, 63, 104, 0.2);
  --color-primary-8: rgba(31, 63, 104, 0.8);
  --color-secondary: #316099;
  --color-tertiary: #ffffff;
  --color-error: #c41c1c;
  --color-tertiary-4: rgba(255, 255, 255, 0.4);
  --color-text-primary: rgba(31, 63, 104, 0.6);
  --color-text-secondary: rgba(255, 255, 255, 0.6);
  --btn: #5a98d0;
  --btn-hover: rgba(90, 152, 208, 0.6);
  --bg-color: #5a98d0;
  --opacity: 0.6;
  --border-color: rgba(53, 110, 173, 0.4);
  --burger-color: #356ead;

  /* Радиус закругления */
  --border-radius: 10px;

  /* Тени */
  --box-shadow-light: 5px 10px 20px 0 rgba(53, 110, 173, 0.2);
  --box-shadow: 5px 20px 50px 0 rgba(16, 112, 177, 0.2);

  /* Шрифты */
  --font-family: "Gilroy", sans-serif;
  --second-family: "Galien", sans-serif;
}
